@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- FONT ---  */
@font-face {
  font-family: "Manrope";
  src: url("../../public/assets/font/Manrope-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
  font-display: swap;
}
body {
  @apply container h-screen w-screen mx-auto;
  font-family: "Manrope", sans-serif;
}
p,
span {
  @apply text-grayish-blue-dark;
}
